.home-page{
    background-color: crimson;
}
body{
    font-family: cursive;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
}
.home-content-div{
    text-align: center;
}
.home-content-div p{
    font-size: smaller;
}
.navbar{
    font-family: 'Courier New', Courier, monospace;
}
.navbar{
    background-color: rgb(255, 33, 33);
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 1%;
}
.navbar a{
    text-decoration: none;
    font-size: large;
}
.facts-page{
    background-color: aqua;
}
.facts-content-div h2{
    text-align: center;
}
.gallery-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-content button{
    border-radius: 30%;
    padding: 2%;
    margin: 3%;
    background-color: rgb(20, 130, 160);
    border-color: rgb(20, 130, 160);
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    height: 2%;
}